<!-- favoritos.component.html -->

<h2>Noticias Favoritas</h2>

<table class="noticias-favoritas-table" *ngIf="noticiasFavoritas.length > 0">
  <thead>
    <tr>
      <th>Título</th>
      <th>Descripción</th>
      <th>Resumen</th>
      <th>Fecha de Publicación</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let noticia of noticiasFavoritas">
      <td>{{ noticia.titulo }}</td>
      <td>{{ noticia.descripcion }}</td>
      <td>{{ noticia.resumen }}</td>
      <td>{{ noticia.fechaPublicacion | date: 'dd MMM yyyy' }}</td>
      <td>
        <button (click)="quitarFavorito(noticia)">Quitar de Favoritos</button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="noticiasFavoritas.length === 0">
  <p>No hay noticias favoritas.</p>
</div>
